{{!< default}}
<div class="container">
		<img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<!--<p><a href='http://keystonejs.com' target='_blank'></a> </p>-->
		<!--<p>-->
				<!--It includes the latest versions of-->
				<!--<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>-->
				<!--and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.-->
		<!--</p>-->
		<!--<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>-->
		<!--<hr>-->
		<!--<p>We have created a default Admin user for you with the email <strong>craigschwartz525@gmail.com</strong> and the password <strong>admin</strong>.</p>-->
		<!--<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>-->
		<!--<hr>-->
		<!--<p>-->
				<!--Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and-->
				<!--<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.-->
		<!--</p>-->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Ecommerce</h1>
            <p>Some text that represents "Ecommerce"...</p>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Some of my Work</h3><br>
        <div class="row">
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div><br>

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div><br><br>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
</div>
